html {
    overflow: scroll;
    overflow-x: hidden;
}

body {
  padding: 0px !important;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    opacity: 1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #353839;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #888;
  }